<!DOCTYPE html>
<html>
<head>
	<title> {{ title }}</title>


	<!--Bootstrap CSS -->
	<link href="{{ url_for('static', filename='stylesheets/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />

	<meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description" content="Project for IT490">
    <meta name="keywords" content="NBA,basketball,statistics,stats,fantasy,draft,fast">
    <meta name="author" content="it490">
	<link rel="shortcut icon" href="">

</head>

<nav class="navbar navbar-static-top navbar-inverse bg-inverse">
    <a class="navbar-brand" href="/">Fantasy Draft</a>
</nav><!-- /.navbar -->

{% block body %}
{% endblock %}

<!-- Bootstrap core JavaScript
================================================== -->
<script src="{{ url_for('static', filename='javascripts/jquery-3.3.1.slim.min.js') }}"></script>
<script src="{{ url_for('static', filename='javascripts/popper.min.js') }}"></script>
<script src="{{ url_for('static', filename='javascripts/bootstrap.min.js') }}"></script>


</html>